@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "IranYekan300";
    src: url("../_fonts/IRANYekanLight.eot");
    src: url("../_fonts/IRANYekanLight.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/IRANYekanLight.woff") format("woff"),
      url("../_fonts/IRANYekanLight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IranYekan400";
    src: url("../_fonts/iranyekanwebregular.eot");
    src: url("../_fonts/iranyekanwebregular.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/iranyekanwebregular.woff") format("woff"),
      url("../_fonts/iranyekanwebregular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
@font-face {
    font-family: "IranYekan500";
    src: url("../_fonts/iranyekanwebmedium.eot");
    src: url("../_fonts/iranyekanwebmedium.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/iranyekanwebmedium.woff") format("woff"),
      url("../_fonts/iranyekanwebmedium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IranYekan700";
    src: url("../_fonts/iranyekanwebbold.eot");
    src: url("../_fonts/iranyekanwebbold.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/iranyekanwebbold.woff") format("woff"),
      url("../_fonts/iranyekanwebbold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "IRANSansWeb300";
    src: url("../_fonts/IRANSansWeb(FaNum)_Light.eot");
    src: url("../_fonts/IRANSansWeb(FaNum)_Light.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/IRANSansWeb(FaNum)_Light.woff") format("woff"),
      url("../_fonts/IRANSansWeb(FaNum)_Light.woff2") format("woff2"),
      url("../_fonts/IRANSansWeb(FaNum)_Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IRANSansWeb400";
    src: url("../_fonts/IRANSansWeb(FaNum)_Medium.eot");
    src: url("../_fonts/IRANSansWeb(FaNum)_Medium.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/IRANSansWeb(FaNum)_Medium.woff") format("woff"),
      url("../_fonts/IRANSansWeb(FaNum)_Light.woff2") format("woff2"),
      url("../_fonts/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "IRANSansWeb500";
    src: url("../_fonts/IRANSansWeb(FaNum)_Medium.eot");
    src: url("../_fonts/IRANSansWeb(FaNum)_Medium.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/IRANSansWeb(FaNum)_Medium.woff") format("woff"),
      url("../_fonts/IRANSansWeb(FaNum)_Light.woff2") format("woff2"),
      url("../_fonts/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face{
    font-family: "IRANSansWeb700";
    src: url("../_fonts/IRANSansWeb(FaNum)_Bold.eot");
    src: url("../_fonts/IRANSansWeb(FaNum)_Bold.eot?#iefix")
        format("embedded-opentype"),
      url("../_fonts/IRANSansWeb(FaNum)_Bold.woff") format("woff"),
      url("../_fonts/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"),
      url("../_fonts/IRANSansWeb(FaNum)_Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  

  * {
    font-family: "IRANYekan400";
  }
  
  h1 {
    font-size: 24px;
    font-family: "IRANSansWeb700";
    line-height: 26px;
  }
  h2 {
    font-size: 20px;
    font-family: "IRANSansWeb700";
    line-height: 26px;
  }
  h3 {
    font-size: 18px;
    font-family: "IRANSansWeb500";
    line-height: 25px;
  }
  h4,
  h5 {
    font-size: 16px;
    font-family: "IRANSansWeb400";
    line-height: 24px;
  }
  h6 {
    font-size: 14px;
    font-family: "IRANSansWeb300";
    line-height: 22px;
  }
  a {
    font-size: 14px;
    font-family: "IRANSansWeb500";
    line-height: 24px;
  }
  .faNum{
    font-family: "IRANSansWeb300";
}
  
  * {
    box-sizing: border-box;
    /* direction: rtl; */
  }
  a{
    text-decoration: none;
  }
  ul,li,p,h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
  }
header .Toggles:hover .toggle-cross-1{
      transform: rotate(-40deg) translate(18px,24px);
      -webkit-transform: rotate(-40deg) translate(18px,24px);
      -moz-transform: rotate(-40deg) translate(18px,24px);
      -ms-transform: rotate(-40deg) translate(18px,24px);
      -o-transform: rotate(-40deg) translate(18px,24px);
      transition-duration: .5s;
      -webkit-transition-timing-function: cubic-bezier(.19, 1, .22, 1);
      transition-timing-function: cubic-bezier(.19, 1, .22, 1);
      animation:toTransparent .5s  ;
      -webkit-animation:toTransparent .5s  ;
      animation-fill-mode: forwards;
}
header .Toggles:hover .toggle-cross-2{
  transform: rotate(-50deg) translate(18px,24px);
  -webkit-transform: rotate(-50deg) translate(18px,24px);
  -moz-transform: rotate(-50deg) translate(18px,24px);
  -ms-transform: rotate(-50deg) translate(18px,24px);
  -o-transform: rotate(-50deg) translate(18px,24px);
  transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(.19, 1, .22, 1);
  transition-timing-function: cubic-bezier(.19, 1, .22, 1);
  animation:toTransparent .5s   ;
  -webkit-animation:toTransparent .5s   ;
  animation-fill-mode: forwards;
  animation-delay: .5s;
}
@keyframes toTransparent {
    0%{
        background-color: #F5F6F6;
    }

    100%{
        background-color: transparent;
    }
}
header .Menu-Container{
  background-image: url('/images/pattern3\ \(1\).png');
}
header .Menu-Container::before{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: #3E4D45;
  z-index: 0;

}
main.Home .mainSwiper > .swiper-pagination{
   position: absolute;
   right: 0;
   top: 0;
   justify-content: center;
   align-items: center;
   margin-right: 2%;
   height: 100%;
   display: flex;
   flex-direction: column;
   gap: 1em;
   left: unset;
   transform:unset ;
   -moz-transform:unset ;
   -ms-transform:unset ;
   -o-transform:unset ;
   -webkit-transform:unset ;
}
main.Home .mainSwiper > .swiper-pagination .swiper-pagination-bullet{
  margin: 0;
  width: 10px;
  height: 10px;
  background-color: #CFD0D2;
  border-radius:50% ;
  -webkit-border-radius:50% ;
  -moz-border-radius:50% ;
  -ms-border-radius:50% ;
  -o-border-radius:50% ;
  opacity: 1;
  transition:all .5s ease ;
  -webkit-transition:all .5s ease ;
  -moz-transition:all .5s ease ;
  -ms-transition:all .5s ease ;
  -o-transition:all .5s ease ;
}
main.Home .mainSwiper > .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
  transform:scale(1.5);
  -webkit-transform:scale(1.5);
  -moz-transform:scale(1.5);
  -ms-transform:scale(1.5);
  -o-transform:scale(1.5);
}
main.Home .swiper-Banners .overlay{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.25) 100%);

}
main.Home .Section-2::before{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
}
main.Home .mainSwiper .swiper-Banners .swiper-button-prev,
main.Home .mainSwiper .swiper-Banners .swiper-button-next{
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #F5F6F6;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
main.Home .mainSwiper .swiper-Banners .swiper-button-prev svg,
main.Home .mainSwiper .swiper-Banners .swiper-button-next svg{
  width: 14px;
}
main.Home .mainSwiper .swiper-Banners .swiper-button-prev::before,
main.Home .mainSwiper .swiper-Banners .swiper-button-prev::after,
main.Home .mainSwiper .swiper-Banners .swiper-button-next::before,
main.Home .mainSwiper .swiper-Banners .swiper-button-next::after{
content: '';
display: none;
}
main.Home .mainSwiper .swiper-Banners .swiper-button-next{
  left: 46%;
  bottom: 2em;
  top: unset;
}
main.Home .mainSwiper .swiper-Banners .swiper-button-prev{
  right: 48%;
  bottom: 2em;
  top: unset;
}
main.Home .proCat .text p{

}


    .productCat .catItem{
      
    }